<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metrics Form</title>
</head>
<body>
  <h1>Metrics Form</h1>
  <form action="http://localhost:5000/submit" method="post">
    <label for="n_of_nodes">Number of Nodes:</label><br>
    <input type="number" id="n_of_nodes" name="n_of_nodes"><br>
    <label for="market">Market:</label><br>
    <input type="text" id="market" name="market"><br>
    <label for="country">Country:</label><br>
    <input type="text" id="country" name="country"><br>
    <label for="customer">Customer:</label><br>
    <input type="text" id="customer" name="customer"><br>
    <label for="activity">Activity:</label><br>
    <input type="text" id="activity" name="activity"><br>
    <label for="product">Product:</label><br>
    <input type="text" id="product" name="product"><br>
    <label for="site">Site:</label><br>
    <input type="text" id="site" name="site"><br>
    <label for="n_of_sites">Number of Sites:</label><br>
    <input type="number" id="n_of_sites" name="n_of_sites"><br>
    <label for="upgrade_version">Upgrade Version:</label><br>
    <input type="text" id="upgrade_version" name="upgrade_version"><br>
    <label for="remarks">Remarks:</label><br>
    <input type="text" id="remarks" name="remarks"><br><br>
    <input type="submit" value="Submit"><br>
    <input type="reset" value="Reset"><br><br>
  </form>
</body>
</html>